{% extends "_base.html" %}

{% block title %}gallery{% endblock title %}
{% block url %}/gallery{% endblock url %}

{% block head %}
<link rel="stylesheet" href="/gallery/style.css" />
<script defer src="/modal.js"></script>
{% endblock head %}

{% block content %}
<h2>gallery</h2>

<p>
    Look, ma! I can draw!<br>Artistic quality may vary.<br />
    Click on a thumbnail to view the full image.<br /><br />
    <b>You may not use these works for any purposes.</b>
</p>

<div class="hr"></div>

<div class="gallery">
    {% for image in images %}<!--
    --><img src="/gallery/assets/{{ image.id }}_thumbnail.png" alt="{{ image.name }}" title="{{ image.name }}"
        class="modal" data-full="/gallery/assets/{{ image.id }}.png"
        data-text="<b>{{ image.name }}</b> ({{ image.year }})<br />{{ image.description }}" /><!--
    -->{% endfor %}
</div>
{% endblock content %}